// var
$bgColor = rgba(250, 251, 255, 1)
$btnColor = rgba(253, 78, 95, 1)
$bufferColor = #E8F4FF
$inputColor = #F7F8FD
$textColor = #5d6677
$defaultColor = #333333
$linkColor = rgba(#5d6677, 0.6)
$shadow = rgba(220, 240, 254, 1)
$messegColor = rgba(70, 218, 134, 1)
$logoColor = #6087E2
$font = 'Roboto', sans-serif