@import "_veriables.styl"
@import "_mixins.styl"

// style
body
  font-family: $font
  color $defaultColor
a
  text-decoration: none
  cursor pointer

svg 
  font-size: 30px
  height 1em
  width: 1em
  &.map
    width 0.75em
  &.next
    width 0.53em
  &.vimeo
    width 1.15em
  &.twitter
    width 1.48em
  &.youtube
    width 1.43em
  &.clipboards
    width: 0.93em
.title
  title()
.text
  text()
.desc
  desc()
.link
  link()
  position: relative
  &.active
    color: $defaultColor
  &:hover
    color: $defaultColor
  &--effect
    display: block
    padding: 10px 8px
    transition: 0.5s
    z-index: 5
    +r(1023)
      padding: 8px 6px
    &:hover
      color: #fff
      &:before
        transform: scale(1)
        opacity: 1
      &:after
        transform: scale(1)
        
    &:before
      content: ''
      position: absolute
      top: -1.5px
      left: 0
      width: 100%
      height: 100%
      border-top: 1.5px solid $defaultColor
      border-bottom: @border-top
      transform: scaleY(2)
      opacity: 0
      transition: 0.5s
    &:after
      z-index: -1
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: $defaultColor
      transform: scale(0)
      transition: 0.5s

.links
  .link
    padding: 0
    transition: 0.3s
    &:hover
      color: $defaultColor
      &:after
        width: 0%
        transform: translateX(-50%)
    &:after,
    &:before
      content: ''
      position: absolute
      width: 100%
      height: 2px
      display: block
    &:after
      transition: all 0.3s ease
      background: #fff
      z-index: 2
      bottom: -2px
      left: 0
    &:before
      z-index: 1
      background: $logoColor
      top: 1em
      left: 0
.title,
.desc,
.text,
.link
  &--upper
    text-transform: uppercase
  &--gray
    color: #5d6677
  &--blue
    color: $logoColor
    &:hover
      color: $logoColor
  &--light
    font-weight 100
  &--normal
    font-weight 300
  &--medium
    font-weight 500
  &--bold
    font-weight 700
  &--center
    text-align: center

.shadow-block
  box-shadow:  0 0 10px 5px $shadow
  +r(767)
    box-shadow:  0 0 7px 3px $shadow

@keyframes anime{
  15% {
    transform: translateY(5px) scaleY(0.86)
  }
  30% {
    transform: translateY(-6px)
  }
  40% {
    transform: translateY(4px)
  }
  50% {
    transform: translateY(-2px)
  }
  65% {
    transform: translateY(1px)
  }
  100% {
    transform: translateY(0)
  }
}


.header
  width: 100%
  background: #fff
  display: flex
  justify-content: center
  position: relative
  &--shadow
    box-shadow: 0 5px 10px $shadow
  .logo
    display: flex
    align-items: center
    &:hover
      & .logo__icon
        animation: anime 1s linear
    &__icon
      display: flex
      align-items: center
      justify-content: center
      width: 50px
      height @width
      border-radius: 50%
      background: $logoColor
      margin-right 15px
      +r(767)
        margin: 0
      .map
        fill: #ffffff
        font-size: 30px
    &__info
      +r(1023)
        display: none
      .title
        margin-bottom 5px
  .search
    max-width 30%
    width: 100%
    position relative
    border-radius: 5px
    overflow hidden
    background: $inputColor
    padding-left: 45px
    padding-right: 10px
    +r(767)
      display: none
    &__input
      text()
      width: 100%
      padding: 15px 15px 15px 0
      +r(767)
        padding: 10px 10px 10px 0
      &::placeholder
        text-indent: 0px
        transition: text-indent 0.6s ease
      &:focus::placeholder
        text-indent: 100%
        transition: text-indent 0.6s ease-out


    &:after
      content: ''
      position: absolute
      display: block
      width: 20px
      height 20px
      background: url('/img/search.svg') no-repeat center 
      opacity 0.5
      background-size: contain
      left 10px
      top 50%
      transform: translateY(-50%)

  .acount-img
    width: 50px
    height @width
    display: block
    border-radius: 50%
    position relative
    flex-shrink: 0
    transition: all 0.2s ease-in
    +r(767)
      width: 40px
      height @width
    &:after
      content: ''
      display: block
      width: 100%
      height 100%
      border-radius: 50%
      position: absolute
      transform: translate(-50%,-50%)
      top: 50%
      left 50%
      z-index -1
      background radial-gradient(ellipse at center, rgba(96,135,226,0.1) 0%,rgba(96,135,226,0.1) 1%,rgba(96,135,226,0.5) 50%,rgba(125,185,232,0.1) 100%)
      opacity 1
      transition: all 0.3s ease
    &:hover
      transform: scale(1.1)
      &:after
        width 110%
        height 110%
    img 
      width 100%
      height: 100%
      border-radius: 50%
  
.wrap
  container()
  display: flex
  align-items: center
  justify-content: space-between
.navbar
  flex-grow: 0.68
  position relative
  +r(1199)
    display: flex
    align-items: center
  .menu
    title()
    text-transform: uppercase
    display: none
    cursor pointer
    color rgba($textColor, 0.6)
    &:hover
      color: $defaultColor
    +r(1199)
      display: block
      margin: 0 auto
  .nav
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    +r(1199)
      z-index 10
      width: 200px
      top: 60px
      left 50%
      background: #fff
      position: absolute
      flex-direction: column
      box-shadow:  0 0 7px 3px $shadow
      border-radius: 3px
      transform: translateX(-50%)
      transition: all 0.3s ease
      opacity: 0
      visibility hidden
      & .link
        padding-left: 0  
        padding-right: 0  
        width: 100%
        text-align: center
        &:after,
        &:before
          display: none
        &:hover
          color: $defaultColor
    &.js-active
      top: 30px
      transition: all 0.3s ease
      opacity: 1
      visibility visible


.main
  background: $bgColor
  .wrap
    align-items: stretch
    padding: 40px
    +r(1199)
      padding: 30px
    +r(1023)
      flex-direction: column
      max-width: calc(100% - 20px * 2)
      padding: 30px 20px
    +r(767)
      padding: 20px 10px
  .info
    flex: 1
    margin-right 30px
    +r(1023)
      width: 100%
      margin-right 0
      margin-bottom 20px
  .map-container
    flex: 3
    +r(1400)
      flex: 2
    +r(1199)
      flex: 1
    +r(767)
      width: 100% 
.info
  display: flex
  flex-direction: column
  border-radius: 5px
  overflow hidden
  background: #fff
  & > div
    border-bottom: 1px solid rgba($textColor, 0.5)
    &:last-child
      border: 0
  &__head
    padding: 30px
    +r(767)
      padding: 15px
  &__logo
    display: flex
    align-items: center
    margin-bottom 25px
    +r(767)
      margin-bottom 10px
  &__img-logo
    width: 130px
    height: 130px
    margin-right 35px
    +r(1400)
      width: 100px
      height: 100px
      margin-right 25px
    +r(1023)
      width: 80px
      height: 80px
      margin-right 15px
  &__qr-code
    border-radius: 4px
    box-shadow: 0 0 5px $textColor
    padding 8px
    +r(1400)
      padding 5px
    &-img
      width: 60px
      height 60px
      +r(1400)
        width: 45px
        height 45px
  &__arrow-link
    margin-left: auto
    flex-shrink: 0
    width: 40px
    height 40px
  &__name
    & > *
      margin-bottom 15px
      +r(767)
        margin-bottom 10px
      &:last-child
        margin-bottom 0
        +r(767)
          margin-bottom 0
    & .title
      font-size: 28px
      font-weight 400
      +r(1023)
        font-size: 23px
      +r(767)
        font-size: 17px
    & .text
      font-size: 23px
      font-weight 400
      +r(1023)
        font-size: 17px
      +r(1023)
        font-size: 15px
  &__desc
    display: flex
    flex-direction: column
    padding: 30px
    +r(767)
      padding: 15px
    & > div.info__row
      margin-bottom 1em
      &:last-child
        margin-bottom 0
  &__row
    display: flex
    align-items: flex-start
    flex-wrap: nowrap
    font-size: 20px
    +r(1199)
      font-size: 18px
    +r(1023)
      font-size: 15px
  &__type
    flex-basis: 35%
    flex-shrink: 0
    +r(767)
      flex-basis: 30%
  &__value
    color: rgba($defaultColor, 0.5)
    & .link
      font-size: 20px
      word-break: break-all
      white-space: pre-wrap
      font-weight 400
      +r(1199)
        font-size: 18px
      +r(1023)
        font-size: 16px
  &__btn
    display: flex
    align-items: center
    padding: 30px
    +r(767)
      padding: 15px 35px
    .button
      margin: 0 auto

.button
  border-radius: 5px
  padding: 20px
  width: 100%
  cursor pointer
  +r(1023)
    padding: 15px
  &--orange
    color: #fff
    background: $btnColor
  &:hover
    opacity 0.85

.btn-buffer
  padding: 15px 25px
  background: $bufferColor
  cursor pointer
  font-family $font
  font-size: 16px
  color: rgba($textColor, 0.8)
  transition: all 0.3s ease
  +r(1023)
    font-size: 14px
    padding: 10px 15px
  &:hover
    transform: scale(1.05)
    box-shadow: 0 0 5px $logoColor
      
.arrow-link
  position: relative
  display block
  &:hover
    & .arrow
      &__top
        transform: rotate(35deg)
      &__bottom
        transform: rotate(-35deg)
  .arrow
    position absolute
    display: block
    background: $defaultColor
    height 2px
    width 65%
    border-radius: 1px
    top: 50%
    right 0
    transform: translateY(-50%)
    transform-origin: right 50%
    transition: all 0.3s ease
    &__top
      transform: rotate(45deg)
    &__bottom
      transform: rotate(-45deg)
  
.map-container
  display: flex
  flex-direction: column
  & .info-map
    display: flex
    align-items: flex-start
    margin-bottom 40px
    padding: 20px
    border-radius: 5px
    background: #fff
    +r(1023)
      margin-bottom 20px
    +r(767)
      padding: 10px
    &__icon
      display: flex
      align-items: center
      justify-content center
      flex-shrink: 0
      width 40px
      height 40px
      border-radius: 50%
      background: $messegColor
      margin-right 20px
      & .clipboards
        fill: #ffffff
        font-size: 30px
        position relative
        left: 3px
    &__text
      .title
        margin-bottom 0.5em
      .text
        line-height: 1.5em
  & .map
    flex-grow: 1
    border-radius: 5px
    +r(1023)
      height 350px
.footer
  background: #fff
  width: 100%
  bottom: 0
  &--shadow
    box-shadow: 0 -5px 10px $shadow
  .wrap
    padding-top: 15px
    padding-bottom: 15px
    +r(767)
      padding-top: 10px
      padding-bottom: 10px
  .title
    margin-bottom 10px
    +r(767)
      margin-bottom 5px
  .links
    display: flex
    align-items: center
    flex-wrap: nowrap
    margin-right 80px
    +r(1023)
      margin-right 40px
    +r(767)
      margin-right 20px
    .link
      margin-right 40px
      +r(1023)
        margin-right 20px
      &:last-child
        margin-right 0
  .left
    +r(767)
      order 1
  .right
    display: flex
    justify-content: space-between
    align-items: center
    +r(767)
      width: 100%
      margin-bottom 10px
  .wrap
    flex-wrap: wrap
    
      
.socials
  display: flex
  align-items: center
  &__icon
    margin-right 20px
    +r(1023) 
      margin-right 15px
    +r(767) 
      margin-right 10px
    &:last-child
      margin-right 0
    & svg 
      fill: $logoColor
      opacity 0.6
      transition: all 0.2s ease
      +r(1023)
        font-size: 20px
    &:hover
      & svg
        transform: translate(2px,2px)
        fill: $defaultColor
        opacity 0.9

